.form-group
  label(for="id") Codigo
  input(type="text", name="id")
.form-group
  label(for="name") Nombre
  input(type="text", name="name")
.form-group
  label(for="abilities") Habilidades
  input(type="text", name="abilities")
.form-group
  label(for="realName") Nombre real
  input(type="text", name="realName")
.form-group
  label(for="antagonist") Antagonistal principal
  input(type="text", name="antagonist")
